extends layout

block content
  div.jumbotron.my-3.shadow-lg.bg-secondary
    h1.display-3.border-bottom.animate__animated.animate__fadeIn 展示写（舎）
    p.lead 展示写（舎）は、電子上で気軽に画像を投稿し、展覧会のような空間を共有できるサービスです。
      br 
      | GitHubのアカウントでログインすることで、サービスを利用できます。
      br
      | 現状はJPEG形式の写真の投稿に対応しています。
  if user
    div
      a(href="/pictures/new").btn.btn-info 画像投稿
    - var hasPicture = pictures.length > 0
    if hasPicture
      h3.my-3 画像一覧
      table.table.table-hover.animate__animated.animate__fadeInRight
        tr
          th プレビュー
          th 投稿日時
        each picture in pictures
          tr
          td
            div
              a(href=`/pictures/${picture.pictureId}`, class="thumnail")
                img(src=picture.pictureUrl,width="200" height="auto" )
          td #{picture.formattedUpdatedAt}