extends layout

block content
  div.jumbotron.my-2.shadow-lg.bg-secondary
    h1.display-3.border-bottom.animate__animated.animate__zoomIn 展示写（舎）
    p.lead 展示写（舎）は、電子上で気軽に画像を投稿し、展覧会のような空間を共有できるサービスです。
      br 
      | GitHubのアカウントでログインすることで、画像を投稿できます。
  div
    a(href="/pictures/new").btn.btn-info.my-3 画像投稿
  - var hasPicture = pictures.length > 0
  if hasPicture
    table.table-hover.animate__animated.animate__fadeInUpBig
      tr
      each picture in pictures
        tr
        td
          div
            a(href=`/pictures/${picture.pictureId}`, class="thumnail")
              img(src=picture.pictureUrl,width="400" height="auto" )