doctype html
html
  head
    title 展示写（舎）
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(rel="stylesheet" type="text/css" href="/styleseets/styleseet.css/")
    base(href="/")


  body.bg-dark.text-white 
    nav.navbar.navbar-light.bg-light.rounded-pill
      div.navbar-header
        a(href="/").navbar-brand.nav-link.text 展示写（舎）
      ul.navbar-nav
        if user
          li.nav-item
            a(href="/logout").nav-link #{user.username} をログアウト
        else
          li.nav-item
            a(href="/login").nav-link ログイン
    div.container
      block content
    script(src="/javascripts/bundle.js")
    script(src="/images/main.js")
    link(href="/images/*.jpg")
    