extends layout

block content
  div.card.my-3.text-dark
    div.card-header.my-2
      h4 #{picture.pictureTitle}
    div.animate__animated.animate__fadeInUp.text-center
      img(src= picture.pictureUrl, class="img-fluid" alt="画像")
    div.card-body
      h5 statement
      | #{picture.statement}
    div.card-footer
      p 作成者: #{picture.user.username}


  each user in users
    - var username = user.username || user.displayName; //認証サービスごとのユーザー名
    - var isDeletable = (username === picture.user.username || username === process.env.ADMIN)
    if isDeletable
      h3 投稿の削除
      form(method="post", action=`/pictures/${picture.pictureId}?delete=1`)
        input(type="hidden" name="_csrf" value!=csrfToken)
        button(type="submit").btn.btn-danger.my-4 この投稿を削除する